<!DOCTYPE html>
<html>
<head>
    <title>Personal Finance Manager</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('transaction_list') }}">Transactions</a></li>
            <li><a href="{{ url_for('budget_list') }}">Budgets</a></li>
            <li><a href="{{ url_for('categories_list') }}">Categories</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
